.top_nav {
    background-color: #595959;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}

.top_nav > li {
    display: inline-block;
    padding-right: 50px;
}

.top_nav > li > a {
    text-decoration: none;
    color: #ffffff;
}

.top_nav > li > a:hover {
    color: #c1c1c1;
}

.mlcourselink {
    text-decoration: none;  
    color: #000000;
}

.mlcourselink:hover {
    color: #696969;
}

p, h2 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    text-align: center;
}
