body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', serif;
}

.top_nav {
    background-color: #595959;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px, 0, 20px, 0;
}

.top_nav > li {
    display: inline-block;
    padding-right: 50px;
}

.top_nav > a {
    text-decoration: none;
    color: #ffffff;
}

.top_nav > li > a:hover {
    color: #c1c1c1;
}

p {
    text-align: center;
}
